/**
    Ver,
            #Chrome, Microsoft Edge
**/

body {
    display: flex; flex-direction: column;
    width: 99vw; height: auto;
    background-color: whitesmoke; margin: 0 auto;
    font-family: 'Inconsolata', monospace; overflow-x: hidden;
}

/*============================================================================*/

header {
    display: flex; flex-direction: row;
    width: inherit; height: auto; margin: 0 auto;
}
header img { margin: 0 auto; }
#centr, #contact, #backBtn { display: none; }
footer { padding: 2% 0; text-align: center; }
footer span { padding: .8% 0; font-size: 120%; }
@media screen and (max-width: 1249px) {
    footer {
        display: flex; flex-direction: column;
        width: 99vw; height: auto; margin: 0 auto;
    }
}
h1, h2, h3, h4, h5, h6 {font-family: 'Source Code Pro', monospace;}
#row { display: none; }
form input, textarea {
    height: 30px; border-radius: 5px; margin: 5px 0;
    padding: 0 5px; border: 1px solid slategray;
    font-family: arial;
}
textarea { height: 120px; padding: 5px 5px; }
input:focus, select:focus, textarea:focus, button:focus { outline: none; }
/*============================================================================*/

.pseudobody {
    width: inherit; min-height: auto; margin: 0 auto !important;
    display: flex; flex-wrap: wrap;
}

@media screen and (max-width: 525px) {
    /* One Pic, desktop layout
    */
    header {
        display: flex; flex-direction: column;
        text-align: center; padding: 10px 0;
        font-size: 120%;
    }
    header img {
        width: 42%;
        padding: 9px 0;
    }
    #left { display: none; }
    #centr { display: block; }
    .pseudobody img {
        width: 90%;
        margin: 0 auto;
        padding: 2% 0;
    }
    #row { display: block; }
    form {
        display: flex; flex-direction: column;
        width: 80%; margin: 0 auto; font-size: 100px;
    }
}
@media only screen and (min-width:526px) and (max-width:835px) {
    /* Two Pic, desktop layout
    */
    header {
        display: flex; flex-direction: column;
        text-align: center; padding: 10px 0;
        font-size: 115%;
    }
    header img {
        width: 32%;
        padding: 8px 0;
    }
    #left { display: none; }
    #centr { display: block; }
    .pseudobody img {
        width: 46%;
        margin: 0 auto !important;
        padding: 2% 0;
    }
    form {
        display: flex; flex-direction: column;
        width: 75%; margin: 0 auto; font-size: 100px;
    }
}
@media screen and (min-width:836px) {
    /* Three Pic, lower widescreen desktop layout
    */
    header {
        padding: 10px 0;
        font-size: 115%;
    }
    header img {
        width: 22%;
        padding: 8px 0;
    }
    #left { 
        display: block; width: 39%; 
        padding-top: 14px; margin: 0 13px;
    }
    #centr { display: none; }
    #right { 
        display: block; width: 39%; text-align: right;
        padding-top: 14px; margin: 0 13px;
    }
    .pseudobody img {
        width: 30%;
        margin: 0 auto;
        padding: 1% 0;
    }
    form {
        display: flex; flex-direction: column;
        width: 80%; margin: 0 auto; font-size: 100px;
    }
}
@media screen and (min-width:1250px) {
    /* Three Pic, upper widescreen desktop layout
    */
    header {
        padding: 10px 0;
        font-size: 115%;
    }
    header img {
        width: 22%;
        padding: 8px 0;
    }
    #left { 
        display: block; width: 39%; 
        padding-top: 20px; margin: 0 13px;
    }
    #centr { display: none; }
    #right { 
        display: block; width: 39%; text-align: right;
        padding-top: 21px; margin: 0 13px;
    }
    .pseudobody img {
        width: 23%;
        margin: 0 auto;
        padding: 1% .8%;
    }
    form {
        display: flex; flex-direction: column;
        width: 50%; margin: 0 auto; font-size: 100px;
    }
    footer {
        display: block;
        width: 99vw; height: auto; margin: 0 auto;
    }
    footer span {
        padding: 0 2%;
    }
}

/*============================================================================*/

.flicker-4 {
	-webkit-animation: flicker-4 4s linear infinite both;
	animation: flicker-4 4s linear infinite both;
}
 @-webkit-keyframes flicker-4 {
    0%, 100% { opacity: 1; } 31.98% { opacity: 1; } 32% { opacity: 0; } 32.8% { opacity: 0; } 32.82% { opacity: 1; } 34.98% { opacity: 1; } 35% { opacity: 0; } 35.7% { opacity: 0; } 35.72% { opacity: 1; } 36.98% { opacity: 1; } 37% { opacity: 0; } 37.6% { opacity: 0; } 37.62% { opacity: 1; } 67.98% { opacity: 1; } 68% { opacity: 0; } 68.4% { opacity: 0; } 68.42% { opacity: 1; } 95.98% { opacity: 1; } 96% { opacity: 0; } 96.7% { opacity: 0; } 96.72% { opacity: 1; } 98.98% { opacity: 1; } 99% { opacity: 0; } 99.6% { opacity: 0; } 99.62% { opacity: 1; }
 }
  @keyframes flicker-4 {
    0%, 100% { opacity: 1; } 31.98% { opacity: 1; } 32% { opacity: 0; } 32.8% { opacity: 0; } 32.82% { opacity: 1; } 34.98% { opacity: 1; } 35% { opacity: 0; } 35.7% { opacity: 0; } 35.72% { opacity: 1; } 36.98% { opacity: 1; } 37% { opacity: 0; } 37.6% { opacity: 0; } 37.62% { opacity: 1; } 67.98% { opacity: 1; } 68% { opacity: 0; } 68.4% { opacity: 0; } 68.42% { opacity: 1; } 95.98% { opacity: 1; } 96% { opacity: 0; } 96.7% { opacity: 0; } 96.72% { opacity: 1; } 98.98% { opacity: 1; } 99% { opacity: 0; } 99.6% { opacity: 0; } 99.62% { opacity: 1; }
 }

::-webkit-scrollbar { width: 12px; }
::-webkit-scrollbar-track { background: snow; }
::-webkit-scrollbar-thumb { background: paleturquoise; }
::-webkit-scrollbar-thumb:hover { background: #888; }