body {
    display: flex;
    width: 99vw; height: auto;
    background-color: snow; margin: 0 auto;
    font-family: arial; overflow-x: hidden;
}

.pseudobody {
    width: inherit; min-height: auto;
    padding: 5px 10px; margin: 0 auto;
    display: flex; flex-wrap: wrap;
}
/*.pseudobody img:hover {
    display: inline-block;
}*/

@media screen and (max-width: 525px) {
    /* One Pic, desktop layout
    */
    .pseudobody img {
        width: 90%;
        margin: 0 auto;
        padding: 2% 0;
    }
}

@media only screen and (min-width:526px) and (max-width:835px) {
    /* Two Pic, desktop layout
    */
    .pseudobody img {
        width: 40%;
        margin: 0 auto;
        padding: 2% 0;
    }
}

@media screen and (min-width:836px) {
    /* Three Pic, widescreen desktop layout
    */
    .pseudobody img {
        width: 30%;
        margin: 0 auto;
        padding: 1% 0;
    }
}